body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #99CCFF;
}

.container {
    margin: 20px auto;
    text-align: center;
    background-color: white; /* Color de fondo para el contenedor principal */
    padding: 20px; /* Añadir padding al contenedor para separarlo del fondo */
    border-radius: 10px; /* Añadir bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}

h1 {
    text-align: center;
}

p{
    text-align: left;
}

.tables-container {
    display: flex;
}

.students-table,
.books-table {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    white-space: nowrap;
    background-color: lightgrey; /* Color de fondo para el contenedor principal */
    padding: 20px; /* Añadir padding al contenedor para separarlo del fondo */
    border-radius: 10px; /* Añadir bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}

.loans-table {
    margin-top: 20px;
    width: 100%;
    background-color: lightgrey; /* Color de fondo para el contenedor principal */
    padding: 20px; /* Añadir padding al contenedor para separarlo del fondo */
    border-radius: 10px; /* Añadir bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}

caption{
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 15px 30px; /* Ajusta el padding para hacer los botones más grandes */
    font-size: 16px;    /* Ajusta el tamaño del texto para hacer los botones más grandes */
    margin: 0 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button.return-button {
    background-color: #f44336;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 10px;
    box-sizing: border-box;
}

